html {
  font-family: sans-serif;
}

body {
  background: url(../pics/scoreboard-test-2.jpg);
}

table {
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.4);
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
}

td, th {
  border: 3px solid rgb(235,235,235);
  padding: 28px 20px;
}


th[scope='row'] {
  text-align: left;
}
td {
  text-align: center;
}

caption {
  padding: 10px;
}